.Navbar {
  /* background-color:aquamarine; */
  font-family: Nunito;
}

.in-up {
  margin-right: 20px;
  font-size: larger;
  font-weight: bold;
  font-family: Nunito;
}

.container {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.image {
  height: 500px;
  width: 500px;
}

.margin {
  margin-left: 20px;
  font-weight: bold;
  font-size: larger;
}

.sreach {
  display: flex;
  justify-content: center;
}

.about-us-text{
  color: black;
}